1 - acessando os dados da planilha para analise

In [3]:
import pandas as pd
arquivo = pd.read_excel("cursinho.xlsx")
display(arquivo)

  Dias da semana    Matérias  Alunos presentes  Alunos com falta
0  Segunda-feira   Português                29                 1
1    Terça-feira  Matemática                25                 5
2   Quarta-feira    História                28                 2
3   Quinta-feira   Geográfia                24                 7
4    Sexta-feira     Quimica                22                 9
5         Sábado      Inglês                18                13

2- filtragem dos dados
coisas q pretendo saber: maior e menor n° de frequencia por materia

A matéria com maior frequência é: Matematica com 90 alunos presentes.